@tailwind base;
@tailwind components;
@tailwind utilities;

.zoom {
    -webkit-transform: scale(8); /* Safari and Chrome */
    transform: scale(1); /* zoom factor - prefix if needed */
    width: 200px; /* half of iframe width */
    height: 400px; /* half of iframe height */
    margin: 100px 0 0 100px; /* reposition iframe */
     /* remove big-ass scrollbars */
  }